{% extends 'questionnaire/main.html'%}

{% block content%}
<div class="container mt-5 border border-solid p-4">
<form id="changePasswordForm" action="{% url 'questionnaire:change_password' %}" method="post">
    {% csrf_token %}
    <div class="text-center mb-1">
        <h2>Change Password</h2>
      </div>
    <div class="form-group">
      <label for="currentPassword">Current Password</label>
      <input type="password" class="form-control" id="currentPassword" name="currentPassword" required>
    </div>
    <div class="form-group">
      <label for="newPassword">New Password</label>
      <input type="password" class="form-control" id="newPassword" name="newPassword" required>
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirm Password</label>
      <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
    </div>
    <button type="submit" class="btn btn-primary">Change Password</button>
  </form>
</div>
{% endblock%} 