{% extends 'questionnaire/main.html'%}
{% load static %}

{% block content%}
{% if user.is_authenticated  %}
 <div class="row mt-5">
  <div class="row">
    <div class="col-md-2">
      <button id="add-form-btn" id="add-form-btn"  class="btn btn-secondary p-2">+ Ongeza Fomu</button>
    </div>
     <script>
      document.getElementById('add-form-btn').addEventListener('click', function() {
        window.location.href = '/questionnaire/submit-form/';
      });
    </script>
    <div class="col-md-6"></div>
    <div class="col-md-4">
      <form id="search-form" class="form-inline">
        <div class="form-group">
          <input type="text" id="search-results" class="form-control" placeholder="Tafuta..." onsubmit="searchData(event)">
        </div>
      </form>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-12">
      <table id="marehemu-table" class="table table-hover">
        <thead>
          <tr>
            <th>Jina Kamili</th>
            <th>Mahali</th>
            <th>Maelezo</th>
            <th>Sababu</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
          <tbody>
            {% for marehemu in combined_data.marehemu_values %}
            <tr>
                <td>{{ marehemu.jina_kwanza }} {{ marehemu.jina_pili }} {{ marehemu.jina_mwisho }}</td>
                <td>{{ marehemu.mahali }}</td>
                <td>{{ marehemu.maelezo }}</td>
                <td>
                    {{ marehemu.sababu.sababu }}
                </td>
                <td><a href="{% url 'questionnaire:badili_sababu' marehemu.id %}"  class="btn btn-secondary text-light">Badili</a></td>
                <td><a href="{% url 'questionnaire:ondoa_sababu' marehemu.id %}"  class="btn btn-danger text-light">Ondoa</a></td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% comment %} <script src="{% static 'javascript/search.js' %}"></script> {% endcomment %}
<script src="{static 'javascript/search.js'}"></script>
{% endif %}
{% endblock %}
