{% extends 'questionnaire/main.html'%}

{% block content%}
  <div class="row mt-5">
    <div class="col-md-12">
      <form class="form-inline" id="search-form" onsubmit="searchData(event)">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="form-group">
            <input type="text" class="form-control" style="width: 100%;" placeholder="Tafuta..." id="search-input">
          </div>
        </div>
        <div class="col-md-2">
          <button type="submit" class="btn background text-light">Tafuta</button>
        </div>
      </form>     
    </div>
  </div>

    <div class="container mt-4">
      <div class="row">
        <div class="col-md-4">
          <button type="submit" href="{% url 'questionnaire:submit_form' %}"  class="btn btn-secondary p-2">+ Ongeza Fomu</button>
        </div>
        <div class="col-md-8"></div>
    </div>
  </div>

  {% comment %} <div class="container mt-3 mb-5">
    <canvas id="myChart" ></canvas>
  </div>
  
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var ctx = document.getElementById('myChart').getContext('2d');
      var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
          labels: [
            {% for item in cod_data %}
              '{{ item.first_name }}',
            {% endfor %}
          ],
          datasets: [{
            label: 'Riport Zote',
            data: [
              {% for item in cod_data %}
                {{ item.some_value }},
              {% endfor %}
            ],
            backgroundColor: ['red', 'blue', 'yellow', 'green', 'purple', 'orange']
          }]
        },
        options: {
          responsive: true
        }
      });
    });
  </script>
   {% endcomment %}
 
  <div class="row mt-5">
    <div class="col-md-1"></div>
    <div class="col-md-11">
    <table  class="table  table-striped">
      <h4 class="text-center mb-3"><b>Taarifa Za Shuhuda</b></h4>
        <thead>
          <tr>
            <th>Majina ya Marehemu</th>
            <th>Mahali</th>
            <th>Ushahidi</th>
            <th>Sababu</th>
          </tr>
        </thead>
 <tbody>
    {% for marehemu in combined_data.marehemu_values %}
    <tr>
        <td>{{ marehemu.jina_kwanza }} {{ marehemu.jina_pili }} {{ marehemu.jina_mwisho }}</td>
    
        <td>{{ marehemu.mahali }}</td>
        <td>{{ marehemu.maelezo }}</td>
        <td>
            {{ marehemu.sababu.sababu }}
        </td>
    </tr>
    {% endfor %}
</tbody>
<script src="questionnaire/javascript/search.js"></script>
</table>
    
</div>
{% endblock %}