{% extends 'questionnaire/main.html'%}

{% block content%}
<div class="col-md-12 mb-3 ps-3 pt-3">
  <div class="row mb-5">
    
  <div class="row">
   
    <div class="container">
      <form class="form-inline">
        <div class="col-md-10">
          <div class="form-group">
            <input type="text" class="form-control" style="width: 100%;" placeholder="Tafuta...">
          </div>
        </div>
        <div class="col-md-2">
          <button type="submit" class="btn backgroung text-light">Tafuta</button>
        </div>
      </form>      
    </div>
  </div>
    <div class="container mt-4">
      <div class="row">
        <div class="col-md-4">
          <button type="submit" href="/questionnaire/submit" id="submit-btn"  class="btn btn-secondary p-2">+ Ongeza Fomu</button>
        </div>
        <div class="col-md-8"></div>
    </div>
  </div>

      <script>
      $(document).ready(function() {
        $('#submit-btn').click(function() {
          window.location.href = "{% url 'questionnaire:submit_form' %}";
        });
      });
      </script>
        
        <div class="container mt-3 mb-5">
          <canvas id="myChart" ></canvas>
        </div>
        <script>
          document.addEventListener('DOMContentLoaded', function() {
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
              type: 'line',
              data: {
                labels: [
                  {% for item in cod_data %}
                    '{{ item.first_name }}',
                  {% endfor %}
                ],
                datasets: [{
                  label: 'Riport Zote',
                  data: [
                    {% for item in cod_data %}
                      {{ item.some_value }},
                    {% endfor %}
                  ],
                  backgroundColor: ['red', 'blue', 'yellow', 'green', 'purple', 'orange']
                }]
              },
              options: {
                responsive: true
              }
            });
          });
        </script>
        

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-3">
      <div class="card backgroung border-0 rounded-3">
        <div class="card-body back">
          <div class="card-title text-center text-light p-3 border-0 rounded-3">Fomu Zilizokusanywa</div>
          <div class="card-text fs-1 text-center text-light pb-3"><b>{{ cod_data.count }}</b></div>
        </div>
      </div>
    </div>
    

  <div class="col-md-3">
    <div class="card backgroung border-0 rounded-3">
      <div class="card-body bg-secondary">
        <div class="card-title text-center text-light p-3 border-0 rounded-3">Fomu Zilizokusanywa</div>
        <div class="card-text fs-1 text-center text-light pb-3"><b>{{ cod_data.count }}</b></div>
      </div>
    </div>
  </div>
  
  <div class="col-md-3">
    <div class="card backgroung border-0 rounded-3">
      <div class="card-body back">
        <div class="card-title text-center text-light p-3 border-0 rounded-3">Fomu Zilizokusanywa</div>
        <div class="card-text fs-1 text-center text-light pb-3"><b>{{ cod_data.count }}</b></div>
      </div>
    </div>
  </div>
  

  <div class="row mt-5">
    <div class="col-md-1"></div>
    <div class="col-md-11">
    <table  class="table  table-striped">
      <h4 class="text-center mb-3"><b>Taarifa Za Shuhuda</b></h4>
        <thead>
          <tr>
            <th>Majina ya Shuhuda</th>
            <th>Mahali</th>
            <th>Mkoa</th>
            <th>Ushahidi</th>
            <th>Sababu</th>
            <!-- Add more column headers if needed -->
          </tr>
      </thead>
      <tbody>

        {% for item in cod_data %}
        <tr>
          <td>{{ item.jina_kwanza }}  {{ item.jina_pili }}  {{ item.jina_mwisho }}</td>
          <td>{{ item.place }}</td>
          <td>{{ item.region }}</td>
          <td>{{ item.maelezo }}</td>
          <td>{{ item.sababu }}</td>
          
        </tr>
        {% endfor %}
      </tbody>
      
    </table>
    
    <div class="pagination">
      <span class="step-links">
        {% if page_obj.has_previous %}
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
    
        <span class="current-page">{{ page_obj.number }}</span>
    
        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
      </span>
    </div>
    
 </div>
 </div>
</div>
{% endblock %}