{% extends 'main.html'%}
{% block title %} Home {% endblock%} 
{% block content%}
   
<!-- Taarifa za Fomu -->
<!-- {% url 'submit_form' %} -->
<form action="{% url 'Questionnaire2' %}" method="POST">
    {% csrf_token %}
   
    <div class="col-md-9 mb-3 ps-3 pt-3">
        <div class="row mb-5">
             <!--Hali Ya Matibabu Ya Marehemu-->
  
          <div class="row">
            <div class="col-12 p-1 mb-4 text-light backgroung">
              <h4 class="text-center">Hali Ya Matibabu Ya Marehemu</h4>
            </div>
           </div>

          <div class="row mb-3"> 
              <div class="col-sm-2">
                <label for="maginjwa">Magonjwa Aliyokuwanayo</label>
              </div>
            <div class="col-sm-8 mb-3">
              <div class="checkbox" aria-label="Basic checkbox ">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" name="magonjwa" id="formCheck1" >
                  <label class="form-check-label" for="formCheck1">Ugonjwa wa Moyo</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" name="magonjwa" id="formCheck1" value="Kisukari">
                  <label class="form-check-label" for="formCheck1">Kisukari</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" name="magonjwa" id="formCheck1" value="Presha">
                  <label class="form-check-label" for="formCheck1">Presha</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" name="magonjwa" id="formCheck1" value="Pumu">
                  <label class="form-check-label" for="formCheck1">Pumu</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" name="magonjwa" id="formCheck1" value="KIfafa">
                  <label class="form-check-label" for="formCheck1">KIfafa</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" name="magonjwa" id="formCheck1" value="Kifua Kikuu">
                  <label class="form-check-label" for="formCheck1">Kifua Kikuu</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" name="magonjwa" id="formCheck1" value="VVU">
                  <label class="form-check-label" for="formCheck1">VVU</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" name="magonjwa" id="formCheck1" value="Saratani" >
                  <label class="form-check-label" for="formCheck1">Saratani</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" name="magonjwa" id="formCheck1" value="Ugonjwa Mwingine">
                  <label class="form-check-label" for="formCheck1">Ugonjwa Mwingine</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" name="magonjwa" id="formCheck1" value="Ajali">
                  <label class="form-check-label" for="formCheck1">Ajali</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2">
                <label for="mengine" class="form-label">Mengine</label>
              </div>
              <div class="col-sm-8">
                <textarea class="form-control"  name="mengineyo" id="floatingTextarea2" style="height: 100px"></textarea>
              </div>
            </div>

          </div>
          </div>
          </div>
          <div>
            <div class="row">
            <div class="col-10">
                <button value="Rudi" href="/Questionnaire/Questionnaire1/" class="btn backgroung text-light px-5">Rudi</button>
            </div>
            <div class="col-2">
             <input type="submit"  value="Wasilisha" class="btn backgroung text-light px-5"></input>
            </div>
            </div>
          </div>
        </div>
        
          <hr class="my-4">
    
    </form>
    </main>
    
    <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2023</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
    </footer>
    </div>
    </div>
    {% endblock %}