{% extends 'main.html'%}
{% block title %} Home {% endblock%} 
{% block content%}
   
<!-- Taarifa za Fomu -->
<!-- {% url 'submit_form' %} -->

 
<form action="{% url 'submit_form' %}" method="POST">
    <div class="col-md-9 mb-3 ps-3 pt-3">
        <div class="row mb-5">

          {% if messages %}
          <ul class="messages bg-success text-light p-3 list-unstyled fs-5 text-center">
          {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
          </ul>
          {% endif %}
          <script>
          setTimeout(function() {
            var messages = document.getElementsByClassName('messages');
            for (var i = 0; i < messages.length; i++) {
              messages[i].style.display = 'none';
            }
          }, 5000);

          </script>

           {% csrf_token %}
           
          <div class="col-md-8">
            <h3>Kuanza Mahojiano</h3>
          </div>

          <div class="col-12 p-1 mb-4  mt-3 text-light backgroung">
            <h4 class="text-center">Taarifa za Mhojiwa</h4>
          </div> 
        
        <!-- Taarifa za Mhojiwa -->
          
            <!-- <div class="col-sm-8 mb-5"> -->
            <div class="row">            
                <div class="mb-3 row">
                    <label for="firstName" class="col-sm-2 col-form-label">Jina La Mwanzo</label>
                  <div class="col-sm-8">
                    <input type="text" name="firstName" class="form-control" id="firstName">
                  </div>
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div> 
                </div>
            
                <div class="mb-3 row">
                  <label for="middleName" class="col-sm-2 col-form-label">Jina La Kati</label>
                  <div class="col-sm-8">
                    <input type="text" name="middleName"  class="form-control" id="middleName">
                  </div>
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div> 
                </div>
         
                <div class="mb-3 row">
                  <label for="lastName" class="col-sm-2 col-form-label">Jina La Ukoo</label>
                  <div class="col-sm-8">
                    <input type="text" name="lastName" class="form-control" id="lastName">
                  </div>
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div> 
                </div>
               
                <div class="mb-3 row">
                  <label for="mahali" class="col-sm-2 col-form-label">Mahali</label>
                  <div class="col-sm-8">
                    <input type="text" name="place" class="form-control" id="mahali">
                  </div>
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div> 
                </div>
            
                <div class="mb-3 row">
                  <label for="mkoa" class="col-sm-2 col-form-label">Mkoa</label>
                  <div class="col-sm-8">
                    <input type="text" name="region"  class="form-control" id="mkoa">
                  </div>
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div> 
                </div>
         
                <div class="mb-3 row">
                  <label for="shahidi" class="col-sm-2 col-form-label">Shahidi</label>
                  <div class="col-sm-8">
                    <input type="text" name="shahidi"  class="form-control" id="shahidi">
                  </div>
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div> 
                </div>

                <div class="mb-3 row">
                  <label for="simu" class="col-sm-2 col-form-label">Simu</label>
                  <div class="col-sm-8">
                    <input type="number" name="simu" class="form-control" id="shahidi">
                  </div>
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div> 
                </div>

                     <!-- Radio buttons    -->

                     <div class="mb-3 row">
                      <label for="shahidi" class="form-check-label col-sm-2">Uhusiano na Marehemu</label>
                      <div class="col-sm-10 mb-3">
                          <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="uhusiano" id="inlineRadio1" value="Baba">
                              <label class="form-check-label" for="inlineRadio1">Baba</label>
                          </div>
                          <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="uhusiano" id="inlineRadio2" value="Mama">
                              <label class="form-check-label" for="inlineRadio2">Mama</label>
                          </div>
                          <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="uhusiano" id="inlineRadio3" value="Ndugu">
                              <label class="form-check-label" for="inlineRadio3">Ndugu</label>
                          </div>
                          <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="uhusiano" id="inlineRadio4" value="Hakuna Uhusiano">
                              <label class="form-check-label" for="inlineRadio4">Hakuna Uhusiano</label>
                          </div>
                          <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="uhusiano" id="inlineRadio5" value="Nyingine">
                              <label class="form-check-label" for="inlineRadio5">Nyingine</label>
                          </div>
                      </div>
                  </div>
                  
                  <div class="mb-3 row">
                      <label for="shahidi" class="form-check-label col-sm-4">Uliishi na marehemu hadi kipindi amepoteza uhai?</label>
                      <div class="col-sm-8">
                          <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="uhusiano_kipindi_kifo" id="inlineRadio6" value="Ndio">
                              <label class="form-check-label" for="inlineRadio6">Ndio</label>
                          </div>
                          <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="uhusiano_kipindi_kifo" id="inlineRadio7" value="Hapana">
                              <label class="form-check-label" for="inlineRadio7">Hapana</label>
                          </div>
                      </div>
                  </div>

         
        <div>
          <div class="row">
          <div class="col-10">
          <button class="btn backgroung text-light px-5">Rudi</button>
          </div>
          <div class="col-2">
           <input type="submit"  value="Mbele>" class="btn backgroung text-light px-5"></input>
          </div>
          </div>
        </div>
      </div>
      
        <hr class="my-4">

</form>
</main>

<footer class="my-5 pt-5 text-muted text-center text-small">
  <p class="mb-1">&copy; 2023</p>
  <ul class="list-inline">
    <li class="list-inline-item"><a href="#">Privacy</a></li>
    <li class="list-inline-item"><a href="#">Terms</a></li>
    <li class="list-inline-item"><a href="#">Support</a></li>
  </ul>
</footer>
</div>
</div>
{% endblock%}