{% extends 'questionnaire/main.html'%}
{% block title %} Home {% endblock%} 
{% block content%}
   



<form name="questionnaire" action="{% url 'questionnaire:submit_form' %}" method="POST" onsubmit="validateForm">
    <div class="col-md-9 mb-3 ps-3 pt-3">
        <div class="row mb-5">

          {% if messages %}
          <ul class="messages bg-success text-light p-3 list-unstyled fs-5 text-center">
          {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
          </ul>
          {% endif %}
          <script>
          setTimeout(function() {
            var messages = document.getElementsByClassName('messages');
            for (var i = 0; i < messages.length; i++) {
              messages[i].style.display = 'none';
            }
          }, 5000);

          </script>

           {% csrf_token %}
           
          <div class="col-md-8">
            <h3>Kuanza Mahojiano</h3>
          </div>

          <div class="col-12 p-1 mb-4  mt-3 text-light backgroung">
            <h4 class="text-center">Taarifa za Mhojiwa</h4>
          </div> 
        
        <!-- Taarifa za Mhojiwa -->
          
            <!-- <div class="col-sm-8 mb-5"> -->
            <div class="row">            
                <div class="mb-3 row">
                    <label for="firstName" class="col-sm-2 col-form-label">Jina La Mwanzo</label>
                  <div class="col-sm-8">
                    <input type="text" name="firstName" class="form-control" id="firstName" required>
                  </div>
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div> 
                </div>
            
                <div class="mb-3 row">
                  <label for="middleName" class="col-sm-2 col-form-label">Jina La Kati</label>
                  <div class="col-sm-8">
                    <input type="text" name="middleName"  class="form-control" id="middleName" required> 
                  </div>
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div> 
                </div>
         
                <div class="mb-3 row">
                  <label for="lastName" class="col-sm-2 col-form-label">Jina La Ukoo</label>
                  <div class="col-sm-8">
                    <input type="text" name="lastName" class="form-control" id="lastName" required>
                  </div>
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div> 
                </div>
               
                <div class="mb-3 row">
                  <label for="mahali" class="col-sm-2 col-form-label">Mahali</label>
                  <div class="col-sm-8">
                    <input type="text" name="place" class="form-control" id="mahali" required>
                  </div>
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div> 
                </div>
            
                <div class="mb-3 row">
                  <label for="mkoa" class="col-sm-2 col-form-label">Mkoa</label>
                  <div class="col-sm-8">
                    <input type="text" name="region"  class="form-control" id="mkoa" required>
                  </div>
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div> 
                </div>
         
                {% comment %} <div class="mb-3 row">
                  <label for="shahidi" class="col-sm-2 col-form-label">Shahidi</label>
                  <div class="col-sm-8">
                    <input type="text" name="shahidi"  class="form-control" id="shahidi">
                  </div>
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div> 
                </div> {% endcomment %}

                <div class="mb-3 row">
                  <label for="simu" class="col-sm-2 col-form-label">Simu Ya Mhojiwa</label>
                  <div class="col-sm-8">
                      <input type="tel" name="simu" class="form-control" id="shahidi" pattern="0[0-9]{9}" required>
                      <div class="invalid-feedback">
                          Please enter a valid phone number starting with 0 and containing 10 digits.
                      </div> 
                  </div>
              </div>
              

                     <!-- Radio buttons    -->

                     <div class="mb-3 row">
                      <label for="shahidi" class="form-check-label col-sm-2">Uhusiano na Marehemu</label>
                      <div class="col-sm-10 mb-3">
                          <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="uhusiano" id="inlineRadio1" value="Baba" required>
                              <label class="form-check-label" for="inlineRadio1">Baba</label>
                          </div>
                          <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="uhusiano" id="inlineRadio2" value="Mama" required>
                              <label class="form-check-label" for="inlineRadio2">Mama</label>
                          </div>
                          <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="uhusiano" id="inlineRadio3" value="Ndugu" required>
                              <label class="form-check-label" for="inlineRadio3">Ndugu</label>
                          </div>
                          <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="uhusiano" id="inlineRadio4" value="Hakuna Uhusiano" required>
                              <label class="form-check-label" for="inlineRadio4">Hakuna Uhusiano</label>
                          </div>
                      </div>
                  </div>
                  
                  <div class="mb-3 row">
                    <label for="shahidi" class="form-check-label col-sm-4">Uliishi na marehemu hadi kipindi amepoteza uhai?</label>
                    <div class="col-sm-8">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="uhusiano_kipindi_kifo" id="inlineRadio6" value="Ndio" required>
                            <label class="form-check-label" for="inlineRadio6">Ndio</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="uhusiano_kipindi_kifo" id="inlineRadio7" value="Hapana" required>
                            <label class="form-check-label" for="inlineRadio7">Hapana</label>
                        </div>
                    </div>
                </div>
                
              </div>
                
                    <!-- Taarifa za Marehemu    -->
                    <div class="row mb-3">
                        <div class="col-12 p-1 mb-4  mt-3 text-light backgroung">
                     <h4 class="text-center">Taarifa za Marehemu</h4>
                   </div>
            
                       <div class="mb-3 row">
                         <label for="jina_kwanza" class="col-sm-2 col-form-label">Jina La Mwanzo</label>
                         <div class="col-sm-8">
                           <input type="text"name="jina_kwanza"  class="form-control" id="firstName" required>
                         </div>
                         <div class="invalid-feedback">
                           Valid last name is required.
                         </div> 
                       </div>
                   
                       <div class="mb-3 row">
                         <label for="jina_pili" class="col-sm-2 col-form-label">Jina La Kati</label>
                         <div class="col-sm-8">
                           <input type="text" name="jina_pili"  class="form-control" id="mName" required>
                         </div>
                         <div class="invalid-feedback">
                           Valid last name is required.
                         </div> 
                       </div>
                
                       <div class="mb-3 row">
                         <label for="jina_mwisho" class="col-sm-2 col-form-label">Jina La Mwisho</label>
                         <div class="col-sm-8">
                           <input type="text" name="jina_mwisho"  class="form-control" id="lastName" required>
                         </div>
                         <div class="invalid-feedback">
                           Valid last name is required.
                         </div> 
                       </div>
            
                       <div class="mb-3 row">
                        <label for="jinsia" class="form-check-label col-sm-2">Jinsia</label>
                        <div class="col-sm-8 mb-3">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="jinsia" id="jinsia_mwanaume" value="mwanaume" required>
                                <label class="form-check-label" for="jinsia_mwanaume">Mwanaume</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="jinsia" id="jinsia_mwanamke" value="mwanamke" required>
                                <label class="form-check-label" for="jinsia_mwanamke">Mwanamke</label>
                            </div>
                        </div>
                    </div>
                    
                       
                    <div class="mb-3 row">
                      <label for="haliNdoa" class="form-check-label col-sm-2">Hali Ya Ndoa</label>
                      <div class="col-sm-10 mb-3">
                          <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="ndoa" id="ndoaRadio" value="ndoa" required>
                              <label class="form-check-label" for="ndoaRadio">Ndoa</label>
                          </div>
                          <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="ndoa" id="hajafungaRadio" value="hajafunga" required>
                              <label class="form-check-label" for="hajafungaRadio">Hajafunga Ndoa</label>
                          </div>
                          <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="ndoa" id="mjaneRadio" value="mjane" required>
                              <label class="form-check-label" for="mjaneRadio">Mjane</label>
                          </div>
                          <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="ndoa" id="talakaRadio" value="talaka" required>
                              <label class="form-check-label" for="talakaRadio">Talaka</label>
                          </div>
                          <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="ndoa" id="kutenganaRadio" value="kutengana" required>
                              <label class="form-check-label" for="kutenganaRadio">Kutengana</label>
                          </div>
                          <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="ndoa" id="sijuiRadio" value="sijui" required>
                              <label class="form-check-label" for="sijuiRadio">Sijui</label>
                          </div>
                      </div>
                  </div>
                  
                     
                       
                  <div class="mb-3 row gx-3 gy-2 align-items-center">
                    <div class="col-sm-2">
                        <label for="shahidi" class="form-label">Marehemu Alizaliwa</label>
                    </div>
                    <div class="col-sm-2">
                        <input type="date" id="kuzaliwa" name="kuzaliwa" value="2018-07-22" min="1900-01-01" max="2023-12-31" required>
                    </div>
                </div>
                
                <div class="mb-3 row gx-3 gy-2 align-items-center">
                    <div class="col-sm-2">
                        <label for="shahidi" class="form-label">Marehemu Alikufa</label>
                    </div>
                    <div class="col-sm-2">
                        <input type="date" id="kufa" name="kufa" value="2018-07-22" min="1900-01-01" max="2023-12-31" required>
                    </div>
                </div>
                
                <div class="mb-3 row">
                  <label for="shahidi" class="form-check-label col-sm-2">Marehemu Alifarikia</label>
                  <div class="col-sm-10 mb-3">
                      <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="mahali" id="radio1" value="Hospital" required>
                          <label class="form-check-label" for="radio1">Hospital</label>
                      </div>
                      <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="mahali" id="radio2" value="Nyumbani">
                          <label class="form-check-label" for="radio2">Nyumbani</label>
                      </div>
                      <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="mahali" id="radio3" value="Kituo Cha Afya">
                          <label class="form-check-label" for="radio3">Kituo Cha Afya</label>
                      </div>
                      <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="mahali" id="radio4" value="Sijui">
                          <label class="form-check-label" for="radio4">Sijui</label>
                      </div>
                  </div>
              </div>
              
                  
              <div class="row mb-3">
                <div class="col-2">
                  <label for="floatingTextarea2" class="form-label">Kuhusu Ugonjwa</label>
                </div>
                <div class="col-8">
                  <textarea class="form-control" name="maelezo"  placeholder="maelezo kuhusu ugonjwa..." id="floatingTextarea2" style="height: 100px"></textarea>
                </div>
              </div>
                    
          </div>
            
            
        </div>
        </div>
        <div>
            <div class="row">
            <div class="col-10"></div>
            <div class="col-2">
              <input type="submit"  value="Wasilisha" class="btn backgroung text-light px-5"></input>
            </div>
            </div>
          </div>
        </div>
     
      
        <hr class="my-4">

</form>
</main>

<footer class="my-5 pt-5 text-muted text-center text-small">
  <p class="mb-1">&copy; 2023</p>
  <ul class="list-inline">
    <li class="list-inline-item"><a href="#">Privacy</a></li>
    <li class="list-inline-item"><a href="#">Terms</a></li>
    <li class="list-inline-item"><a href="#">Support</a></li>
  </ul>
</footer>
</div>
</div>
{% endblock%}
