{% extends 'main.html'%}
{% block title %} Home {% endblock%} 
{% block content%}
   
<!-- Taarifa za Fomu -->
<!-- {% url 'submit_form' %} -->
<form action="{% url 'Questionnaire1' %}" method="post">
  {% csrf_token %}
  
    <div class="col-md-9 mb-3 ps-3 pt-3">
        <div class="row mb-5">
        <!-- Taarifa za Marehemu    -->
        <div class="row mb-3">
            <div class="col-12 p-1 mb-4 text-light backgroung">
         <h4 class="text-center">Taarifa za Marehemu</h4>
       </div>

           <div class="mb-3 row">
             <label for="jina_kwanza" class="col-sm-2 col-form-label">Jina La Mwanzo</label>
             <div class="col-sm-8">
               <input type="text"name="jina_kwanza"  class="form-control" id="firstName">
             </div>
             <div class="invalid-feedback">
               Valid last name is required.
             </div> 
           </div>
       
           <div class="mb-3 row">
             <label for="jina_pili" class="col-sm-2 col-form-label">Jina La Kati</label>
             <div class="col-sm-8">
               <input type="text" name="jina_pili"  class="form-control" id="mName">
             </div>
             <div class="invalid-feedback">
               Valid last name is required.
             </div> 
           </div>
    
           <div class="mb-3 row">
             <label for="jina_mwisho" class="col-sm-2 col-form-label">Jina La Mwisho</label>
             <div class="col-sm-8">
               <input type="text" name="jina_mwisho"  class="form-control" id="lastName">
             </div>
             <div class="invalid-feedback">
               Valid last name is required.
             </div> 
           </div>

           <div class="mb-3 row">
             <label for="jinsia" class="form-check-label col-sm-2">Jinsia</label>
             <div class="col-sm-8 mb-3">
               <div class="form-check form-check-inline">
                 <input class="form-check-input" type="radio" name="jinsia" id="jinsia_mwanaume" value="mwanaume">
                 <label class="form-check-label" for="jinsia_mwanaume">Mwanaume</label>
               </div>
               <div class="form-check form-check-inline">
                 <input class="form-check-input" type="radio" name="jinsia" id="jinsia_mwanamke" value="mwanamke">
                 <label class="form-check-label" for="jinsia_mwanamke">Mwanamke</label>
               </div>
             </div>
           </div>
           
           <div class="mb-3 row">
             <label for="haliNdoa" class="form-check-label col-sm-2">Hali Ya Ndoa</label>
             <div class="col-sm-10 mb-3">
                 <div class="form-check form-check-inline">
                     <input class="form-check-input" type="radio" name="ndoa" id="ndoaRadio" value="ndoa">
                     <label class="form-check-label" for="ndoaRadio">Ndoa</label>
                 </div>
                 <div class="form-check form-check-inline">
                     <input class="form-check-input" type="radio" name="ndoa" id="hajafungaRadio" value="hajafunga">
                     <label class="form-check-label" for="hajafungaRadio">Hajafunga Ndoa</label>
                 </div>
                 <div class="form-check form-check-inline">
                     <input class="form-check-input" type="radio" name="ndoa" id="mjaneRadio" value="mjane">
                     <label class="form-check-label" for="mjaneRadio">Mjane</label>
                 </div>
                 <div class="form-check form-check-inline">
                     <input class="form-check-input" type="radio" name="ndoa" id="talakaRadio" value="talaka">
                     <label class="form-check-label" for="talakaRadio">Talaka</label>
                 </div>
                 <div class="form-check form-check-inline">
                     <input class="form-check-input" type="radio" name="ndoa" id="kutenganaRadio" value="kutengana">
                     <label class="form-check-label" for="kutenganaRadio">Kutengana</label>
                 </div>
                 <div class="form-check form-check-inline">
                     <input class="form-check-input" type="radio" name="ndoa" id="sijuiRadio" value="sijui">
                     <label class="form-check-label" for="sijuiRadio">Sijui</label>
                 </div>
             </div>
         </div>
         
           

                 <div class="mb-3 row gx-3 gy-2 align-items-center">
                   <div class="col-sm-2">
                     <label for="shahidi" class="form-label">Marehemu  Alizaliwa</label>
                   </div>
                   <div class="col-sm-2">
                     <input type="number" id="day" name="kuzaliwa" min="1" max="31"  placeholder="siku" required>
                   </div>
                   <div class="col-sm-2">
                     <select name="kuzaliwa" id="">
                       <option value="" disabled selected>Mwezi</option>
                       <option value="1">Januari</option>
                       <option value="2">Febuari</option>
                       <option value="3">Machi</option>
                       <option value="4">Aprili</option>
                       <option value="5">May</option>
                       <option value="6">Juni</option>
                       <option value="7">Julai</option>
                       <option value="8">Agasti</option>
                       <option value="9">Septemba</option>
                       <option value="10">Oktoba</option>
                       <option value="11">Novemba</option>
                       <option value="12">Desemba</option>
                     </select>
                   </div>
                   <div class="col-sm-2">
                     <input type="number" id="mwaka" name="kuzaliwa" min="1900" max="2099" placeholder="Mwaka" required>
                   </div>
                 </div>

                 <div class="mb-3 row gx-3 gy-2 align-items-center">
                   <div class="col-sm-2">
                     <label for="shahidi" class="form-label">Marehemu  Alikufa</label>
                   </div>
                   <div class="col-sm-2">
                     <input type="number" id="day" name="kufa" min="1" max="31"  placeholder="siku" required>
                   </div>
                   <div class="col-sm-2">
                     <select name="kufa" id="">
                       <option value="" disabled selected>Mwezi</option>
                       <option value="1">Januari</option>
                       <option value="2">Febuari</option>
                       <option value="3">Machi</option>
                       <option value="4">Aprili</option>
                       <option value="5">May</option>
                       <option value="6">Juni</option>
                       <option value="7">Julai</option>
                       <option value="8">Agasti</option>
                       <option value="9">Septemba</option>
                       <option value="10">Oktoba</option>
                       <option value="11">Novemba</option>
                       <option value="12">Desemba</option>
                     </select>
                   </div>
                   <div class="col-sm-2">
                     <input type="number" id="mwaka" name="kufa" min="1900" max="2099" placeholder="Mwaka" required>
                   </div>
                 </div>
                  
                 <div class="mb-3 row">
                   <label for="shahidi" class="form-check-label col-sm-2">Marehemu Alifarikia</label>
                   <div class="col-sm-10 mb-3">
                       <div class="form-check form-check-inline">
                           <input class="form-check-input" type="radio" name="mahali" id="radio1" value="Hospital">
                           <label class="form-check-label" for="inlineRadio1">Hospital</label>
                       </div>
                       <div class="form-check form-check-inline">
                           <input class="form-check-input" type="radio" name="mahali" id="radio2" value="Nyumbani">
                           <label class="form-check-label" for="inlineRadio2">Nyumbani</label>
                       </div>
                       <div class="form-check form-check-inline">
                           <input class="form-check-input" type="radio" name="mahali" id="radio3" value="Kituo Cha Afya">
                           <label class="form-check-label" for="inlineRadio3">Kituo Cha Afya</label>
                       </div>
                       <div class="form-check form-check-inline">
                           <input class="form-check-input" type="radio" name="mahali" id="radio4" value="Sijui">
                           <label class="form-check-label" for="inlineRadio4">Sijui</label>
                       </div>
                       <div class="form-check form-check-inline">
                           <input class="form-check-input" type="radio" name="mahali" id="radio5" value="Nyingine">
                           <label class="form-check-label" for="inlineRadio5">Nyingine</label>
                       </div>
                   </div>
               </div>
               
                       <div class="row mb-3">
                         <div class="col-2">
                           <label for="floatingTextarea2" class="form-label">Kuhusu Ugonjwa</label>
                         </div>
                         <div class="col-8">
                           <textarea class="form-control" name="maelezo"  placeholder="maelezo kuhusu ugonjwa..." id="floatingTextarea2" style="height: 100px"></textarea>
                         </div>
                       </div>
                       <div class="row">
                         <div class="col-2">
                           <label for="sababu1" class="form-label">Sababu 1 ya kifo kulinganga na Mhojiwa</label>
                         </div>
                         <div class="col-8">
                           <input type="text" name="sababu1"  class="form-control" id="sababu1"></input>
                         </div>
                       </div>

                       <div class="row">
                         <div class="col-2">
                           <label for="sababu2" class="form-label">Sababu 2 ya kifo kulinganga na Mhojiwa</label>
                         </div>
                         <div class="col-8">
                           <input type="text"  name="sababu2" class="form-control"  id="sababu2" ></input>
                         </div>
                       </div>
                     </div>
          </div>


        </div>
    </div>
    <div>
        <div class="row">
          <div class="col-10">
            <button   href="/Questionnaire/submit_form"  class="btn backgroung text-light px-5">Rudi</button>
          </div>
        <div class="col-2">
         <input type="submit"  value="Wasilisha" class="btn backgroung text-light px-5"></input>
        </div>
        </div>
      </div>
    </div>
 

</form>
<hr class="my-4">
</main>

<footer class="my-5 pt-5 text-muted text-center text-small">
<p class="mb-1">&copy; 2023</p>
<ul class="list-inline">
  <li class="list-inline-item"><a href="#">Privacy</a></li>
  <li class="list-inline-item"><a href="#">Terms</a></li>
  <li class="list-inline-item"><a href="#">Support</a></li>
</ul>
</footer>
</div>
</div>

{% endblock %}