{% extends 'main.html'%}

{% block content%}
<div class="col-md-9 mb-3 ps-3 pt-3">
  <div class="row mb-5">

    {% if messages %}
    <ul class="messages bg-success text-light p-3 list-unstyled fs-5 text-center">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    <script>
    setTimeout(function() {
      var messages = document.getElementsByClassName('messages');
      for (var i = 0; i < messages.length; i++) {
        messages[i].style.display = 'none';
      }
    }, 5000);

    </script>


<!-- Counter -->
<section id="counts" class="counts">
  <div class="container" data-aos="fade-up">
    <div class="row no-gutters">
      <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
        <div class="count-box">
          <span data-percounter-start="0" data-percounter-end="{{ row_count }}" data-percount-duration="1" class="percounter"></span>
          <p><strong>Shuhuda</strong></p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Counter -->

<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col p-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><b>Zilizokusanywa</b></h5>
        <p class="card-text">This is a longer card with supporting text below</p>
      </div>
    </div>
  </div>
  <div class="col p-5">
    <div class="card">
      <div class="card-body text-center">
        <h5 class="card-title"><b>Wahanga</b></h5>
        <p class="card-text">A brief description of the victims</p>
      </div>
    </div>
  </div>
  <div class="col p-5">
    <div class="card">
      <div class="card-body text-center">
        <h5 class="card-title"><b>Shuhuda</b></h5>
        <p class="card-text  p-5"><b>{{ row_count }}</b></p>
      </div>
    </div>
  </div>
  <div class="col p-5">
    <div class="card">
      <div class="card-body text-center">
        <h5 class="card-title"><b>Sababu</b></h5>
        <p class="card-text">A brief description of the reasons</p>
      </div>
    </div>
  </div>
</div>



<div class="row mt-5">
<div class="col-md-8">
  <!-- {% for i in all%}
<p>{{ i }}</p>
{% endfor %} -->

<table  class="table table-bordered">
  <h4 class="text-center">Taarifa Za Mhojiwa</h4>
  <thead>
    <tr>
      <th>Jina la kwanza</th>
      <th>Jina la Kati</th>
      <th>Jina la mwisho</th>
      <th>Mahali</th>
      <th>Mkoa</th>
      <th>Shahidi</th>
      <!-- Add more column headers if needed -->
    </tr>
  </thead class="p3">
  <tbody>
    {% for i in all %}
    <tr>
      <td>{{ i.first_name }}</td>
      <td>{{ i.middle_name }}</td>
      <td>{{ i.last_name }}</td>
      <td>{{ i.place }}</td>
      <td>{{ i.region }}</td>
      <td>{{ i.shahidi }}</td>
      <!-- Add more columns if needed -->
    </tr>
    {% endfor %}
  </tbody>
</table>

</div>
<div class="col-4">
</div>
</div>
<!-- Add more columns if needed -->
<table  class="table table-bordered">
  <h4 class="text-center">Taarifa Za Marehemu</h4>
  <thead>
    <tr> 
      <th>Jina la kwanza</th>
      <th>Jina la Kati</th>
      <th>Jina la mwisho</th>
      <th>Jinsia</th>
      <th>Ndoa</th>
      <th>Mahali</th>
      <!-- Add more column headers if needed -->
    </tr>
  </thead class="p3">
  <tbody>
    {% for j in all_Mhangas %}
    <tr>
      <td>{{ j.jina_kwanza }}</td>
      <td>{{ j.jina_pili }}</td>
      <td>{{ j.jina_mwisho }}</td>
      <td>{{ j.jinsia }}</td>
      <td>{{ j.ndoa }}</td>
      <td>{{ j.mahali }}</td>
      <!-- Add more columns if needed -->
    </tr>
    {% endfor %}
  </tbody>
</table>

</div>
<div class="col-4">

</div>
</div>
{% endblock %}