{% extends 'questionnaire/main.html'%}
{% block content %}
<div class="row mt-5 ">
    <div class="col-md-5">
        <div class="box box-default box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">My Profile</h3>
                <div class="box-tools d-flex justify-content-end">  
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body ">
                <table class="table table-bordered table-hover">
                    <tr>
                        <th>Registration Number</th>
                        <td>2020-04-06056</td>
                    </tr>
                     <tr>
                        <th>First Name</th>
                        <td>Elisha</td>
                    </tr>
                    <tr>
                        <th>Middle Name</th>
                        <td>Wyclif</td>
                    </tr>
                    <tr>
                        <th>Last Name</th>
                        <td>Massawe</td>
                    </tr>
                    <tr>
                        <th>Phone</th>
                        <td>0743392723</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>elishaellyclif@gmail.com</td>
                    </tr>
                    
                                        <tr>
                        <th>College</th>
                        <td>College of Information and Communication Technology</td>
                    </tr>
                    <tr>
                        <th>Department</th>
                        <td>Computer Science and Engineering</td>
                    </tr>
                    
                                        <tr>
                        <th>Enrolled Program</th>
                        <td>B.Sc in Computer Science</td>
                    </tr>
                </table>
            </div>

            <div class="box-footer">
                <a href="" class="btn btn-primary pull-right" >Update Profile</a>
            </div>

        </div>
    </div>
</div>
{% endblock  %}