{% extends 'questionnaire/main.html'%}
{% block content %}
<div class="row mt-5 ">
    
    <div class="col-md-5">
        <div class="box box-default box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">My Profile</h3>
                <div class="box-tools d-flex justify-content-end">  
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body ">
                <form method="post" action="{% url 'questionnaire:Updated_profile' %}">
                    {% csrf_token %}
                    
                <table class="table table-bordered table-hover">
                    <tr>
                        <th>Full Name</th>
                        <td><input type="text" name="username" value="{{ first_name }} {{ last_name }}"></td>
                    </tr>
                     <tr>
                        <th>User Name</th>
                        <td><input type="text" name="username" value="{{ username }}"></td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td><input type="email" name="email" value="{{ email }}"></td>
                </table>
            </div>

            <tr>
                <td colspan="2">
                    <button  class="btn btn-primary" type="submit">Save</button>
                </td>
            </form>
        </div>
    </div>
</div>
{% endblock %}